---
tags:
  - Mandatory
---

# NOTIFICATION VERIFICATION

### Location

Bldg #481/Security Forces Squadron

### Synopsis

RANK XXX/Lima-1 verified all notifications were accomplished during this
tour of duty IAW the 19 SFS Notification Matrix.


